# 請複製並修改此檔案為 .env


# 填入你的 GEMINI_API_KEY（Google AI Studio 產生的 key）
GEMINI_API_KEY=


GOOGLE_SHEET_NAME=原資智慧服務 AI 機器人回覆蒐集表


# 填入 GOOGLE_CREDENTIALS_JSON（Google Cloud Console 新增專案並啟用 Google Drive API、Google Sheet API，接著在 Google Sheet API 建立服務帳戶取得 crdentials）
GOOGLE_CREDENTIALS_JSON=''


# 填入 HF_TOKEN（Hugging Face 產生的 key）
HF_TOKEN=


