streamlit
llama-index-core>=0.10.49
llama-index-embeddings-jinaai
llama-index-postprocessor-jinaai-rerank
llama-index-llms-gemini
llama-index-vector-stores-chroma
llama-index-readers-file
chromadb
python-dotenv
pypdf
python-docx
gspread
google-auth-oauthlib
